.navbar {
  background-color: #f8f6f6;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 600;
  color: #600064;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button, .signup-button, .logout-button {
  background-color: #600064;
  color: #fff;
  border-color: #600064;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover, .signup-button:hover, .logout-button:hover {
  background-color: #240053;
}

.logout-button{
  margin: 6rem;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #600064;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.active {
  color: #000;
}

.nav-footer {
  color: #fff;
  font-weight: 500;
  position: relative;
}

.nav-footer:hover, .nav-footer.active {
  color: #600064;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #240053;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.main-section {
  background: url('https://shorturl.at/0pUk7') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.main-section .container {
  z-index: 1;
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  max-width: 720px;
  margin: 0 auto;
 
}

.main-section h1{
  color: #fff;

} 

.main-section h2 {
  color: #fff;
}

.main-section h1 {
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: 500;
}

.main-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.my-5 {
  margin-top: .01rem !important;
  margin-bottom: .01rem !important;
}


.dropdown-toggle::after {
  
  color: #fff;
}


.alert {
  margin-top: 20px;
}

.home1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 6px;
  background: url('https://images.unsplash.com/photo-1599249300675-c39f1dd2d6be?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTkyfHxvbmxpbmUlMjBlZHVjYXRpb258ZW58MHx8MHx8fDA%3D') no-repeat center;
  background-size: cover;
}

.btn-primary {
  background-color: #600064;
  border-color: #600064;
  font-size: 16px;
  /* font-weight: bold; */
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  --bs-btn-active-bg: #600064;
}

.btn-primary:hover {
  background-color: #240053;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-color: #240053;
}
.btn-primary:focus {
  outline: none;
  
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  color: var(--lt-color-gray-100);
  text-decoration: underline;
}

.backToTopButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h7,
h6,
h8 {
  line-height: 1.3;
}

.gallery a {
  color: #444;
  text-decoration: none;
}

.section-a .container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.section-a {
  margin: 2rem 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-a h6 {
  font-size: 4rem;
  color: var(--primary-color);
}

.section-a p {
  margin: 1rem 0;
  text-align: justify;
}

.section-b {
  position: relative;
  background: url('https://shorturl.at/eQktJ') no-repeat bottom center/cover;
  height: 600px;
}

.section-b-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.section-b-inner h8 {
  font-size: 2rem;
}

.section-b-inner h7 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-b-inner p {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: justify;
}

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.section-c .gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.section-c .gallery img,
.section-c .gallery a {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container div:first-child {
    order: 2;
  }

  .section-a .container div:nth-child(2) {
    order: -1;
  }

  .section-a img {
    width: 80%;
    margin: auto;
  }

  .section-c .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .section-c .gallery a:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .section-c .gallery a:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/2;
  }

  .section-c .gallery a:last-child {
    display: none;
  }

}


.col-md-3.col-lg-4.col-xl-3.mx-auto p {
  font-size: 3.5rem;
  font-weight: bold;
  font-style: oblique;
}