* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
    font-size: 16px;
    transition: all 500ms ease; 
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-grid;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
 }
 
 h4.information-text {
    padding-bottom: 2rem;
    color: #ffffff7d;
    font-size: .8rem;
}

.login-page .container {
    background: #600064;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #600064;
    color: #fff;
    text-align: center;
    width: 90%;
    margin: 1em	auto;
    max-width: 500px;
  }
  
  .login-page h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .form-group label {
    font-weight: bold;
    color: #fff;
    padding: 4px;
  }

  .form-group {
    display: inline-grid;
    justify-items: start;

}

  .login-page .btn-primary {
    background-color: #240053;
    --bs-btn-hover-border-color: #240053;
    border-color: #240053;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 6rem;
  }


.login-page .btn-primary:hover {
    background-color: #600064;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--bs-btn-hover-border-color);

  }

  .login-page .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  .login-page .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .login1 {
    
    color: #ffffff8f;;
  }

  .login1:hover{
    color: #fff;
  }

  .input-group-text{
    height: 2.3rem;
  }

  .custom-alert {
    width: 35rem;
    color: #fff;
  }

  