<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us | RLQTool</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">


</head>
<body>
    <h1>About us</h1>
    <div>
        <!-- <p>> <span>ERROR CODE</span>: "<i>HTTP 403 Forbidden</i>"</p> -->

        <p><i>Our platform prioritises interactive inquiry to improve distance learning. Users can indicate which questions are relevant by upvoting or downvoting them. Some features are that questions can't be asked again, voting can only be done once, and comments can be left for more information or clarification. In order to establish a dynamic learning environment, teachers can organise sessions, distribute links, control material, and involve students through polls.</i></p>

        <p><b>Teachers only need to log in, develop engaging lessons, and share them with students with ease. The platform allows users to customise sessions with files, connections, and real-time feedback through live polling. It provides an opportunity for students to participate in discussions, pose questions, and really get into the subject matter. By emphasising original, thought-provoking questions and active engagement, the tool improves the effectiveness and engagement of remote learning.</b></p>

        <p><b>Our solution makes remote learning interactive and is intended to empower educators as well as students. It gives teachers the ability to oversee and enhance their classes while giving students a forum to ask questions and participate in the educational process. Our goal is to improve the overall learning experience by fostering a collaborative educational environment that recognises the contributions of all participants through an emphasis on the quality and relevance of questions.</b></p>

        <p>> <span>Back To</span>: <a href="/">Home Page</a></p>

        <!-- <p>> <span>HAVE A NICE DAY :-)</span></p> -->

    </div>

</body>
</html>
