<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand me-auto" id="home" href="/">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="LOGO" style="height: 50px;">
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="LOGO" style="height: 50px;">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2 active" aria-current="page" id="home" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" id="about" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" id="contact-us" href="/contact-us">Contact us</a>
            </li>
            
          </ul>
        </div>
      </div>
      {% if user.is_authenticated %}
      <span class="dropdown-item-text"><b>{{ user.full_name }}</b></span>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User Icon" style="height: 40px;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li style="width: max-content;"><span class="dropdown-item-text"><strong>Name:</strong> {{ user.full_name }}</span></li>
          <li style="width: max-content;"><span class="dropdown-item-text"><strong>Email:</strong> {{ user.email }}</span></li>
          <li><hr class="dropdown-divider"></li>
          <a class="logout-button" id="logout" href="/logout">Logout</a>
        </ul>

        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      {% else %}
      <a class="login-button" id="login" href="/login">Login</a>
      <a class="signup-button mx-2" id="signUp" href="/sign-up">Sign up</a>
      <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% endif %}
      </div>
  </nav>

  <div class="main-section">
    <div class="container">{% block content %}{% endblock %}</div>
  </div>
    <section class="section-a">
      <div id="hconatiner" class="container">
        <div>
          <h6>Our Vision</h6>
          <p>
            Our aim to build an interactive and dynamic learning environment that facilitates easy communication between instructors and students. We hope to increase learning's dynamism, collaboration, and responsiveness to each student's unique needs by creating an atmosphere in which they may actively engage, ask questions, and offer feedback. Through elements like upvoting, commenting, and personalised feedback, we foresee a system where student views are not only heard but also given importance.
          </p>
        </div>
        <img src="https://shorturl.at/FG8kq" alt="" />
      </div>
    </section>

    <section id="about" class="section-b">
      <div class="overlay">
        <div class="section-b-inner py-5">
          <h7 class="text-5 mt-1">Our Mission</h7>
          <p class="mt-4">
            Our goal is to create a user-friendly platform that improves learning by breaking down barriers to communication between instructors and students. Our goal is to provide students with tools that promote participation and interaction by providing simple features like commenting, question voting, and post management. Our aim is to offer instructors a comprehensive platform that facilitates the collection of student feedback, session management, and effective discussion organisation. In the end, we hope to provide a user-driven platform that meaningfully and successfully supports both teaching and learning.
          </p>

        </div>
      </div>
    </section>

    <section class="section-c">
      <div class="gallery">
        <a class="big"
          ><img src="https://rb.gy/bgzzh4" alt=""
        /></a>
        <a class="big"
          ><img src="https://rb.gy/c07ky5" alt=""
        /></a>
        <a class="big"
          ><img src="https://img.freepik.com/free-vector/education-concept-illustration_114360-7908.jpg?ga=GA1.1.747755482.1726047852&semt=ais_hybrid" alt=""
        /></a>
        <a class="big"
          ><img src="https://tinyurl.com/bdf4sb9k" alt=""
        /></a>
        <a class="big">
          <img src="https://tinyurl.com/4vwes2nb" alt=""
        /></a>
        <a class="big"
          ><img src="https://tinyurl.com/37c7w4ws" alt=""
        /></a>
      </div>
    </section>

    
<div class="container1">
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="">
      <div class="container text-center text-md-start">
        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
            <h6 class="text-uppercase fw-bold">Remote Learning Questioning Tool</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Ready to dive in?
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a class="nav-footer mx-lg-2" id="about" href="/">Home</a>
            </p>
            <p>
              <a class="nav-footer mx-lg-2" id="about" href="/about">About</a>
            </p>
            <p>
              <a class="nav-footer mx-lg-2" id="contact-us" href="/contact-us">Contact us</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Birmingham, UK</p>
            <p><i class="fas fa-envelope mr-3"></i> info@rlqt.com</p>
            <p><i class="fas fa-phone mr-3"></i> +44 8009 054294</p>
          </div>
        </div>
      </div>
    </section>

    <section class="d-flex justify-content-between p-4">

      <div class="socialmedia">
        <span>Get connected with us on social networks:</span>
      </div>
      
      <div class="mediaicons">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="nav-footer mx-lg-2" href="http://127.0.0.1:5000/">RLQTool.com</a>

      <button id="backToTopButton" class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root css-1vipfqj" tabindex="0" type="button" style="opacity: 1;display: contents; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);"><img loading="eager" src="{{ url_for('static', filename='images/totopbutton.png') }}" alt="back to top" width="20" height="20" class="css-1s3f5c4"><span class="MuiTouchRipple-root css-w0pj6f"></span></button>
        
    </div>
  </footer>

</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    document.getElementById('backToTopButton').addEventListener('click', function() {
      window.scrollTo({top: 0, behavior: 'smooth'});
    });
    </script>
    
</body>
</html>
