<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session Details</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='session_details.css') }}">
  
</head>
<body>

  <div class="sidebar">
    <div class="btn-group dropstart">
      {% if current_user.is_authenticated %}
        <a class="dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ url_for('static', filename='images/user.png') }}" alt="User Icon" style="height: 40px;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><span class="dropdown-item-text"><strong>Name:</strong> {{ current_user.full_name }}</span></li>
          <li><span class="dropdown-item-text"><strong>Email:</strong> {{ current_user.email }}</span></li>
          <li><hr class="dropdown-divider"></li>
          <div class="HLbuttons">
            <li><a class="logout-button" id="logout" href="/">Home</a></li>
            <li><a class="logout-button" id="logout" href="/logout">Logout</a></li>
          </div>
        </ul>
      {% else %}
        <a class="dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ url_for('static', filename='images/user.png') }}" alt="User Icon" style="height: 40px;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><span class="dropdown-item-text"><strong>Name:</strong> Anonymous</span></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="leave-session-btn" href="{{ url_for('join') }}">Leave Session</a></li>
        </ul>
      {% endif %}
    </div>
  </div>

  <div class="main-content-wrapper">
    <div class="content-container">
      <div class="session-id" style="color: #600064;"><b>Session ID: {{ session_id }}</b></div>
      <div class="title">{{ title }}</div>
      {% if not current_user.is_authenticated %}
      <div id="postsContainer" class="mt-4">
        
        {% for question in questions %}
        <div class="post-card" data-post-id="{{ question.id }}" data-likes="{{ question.likes }}" data-dislikes="{{ question.dislikes }}">
            <div class="card-header">
              <div class="user-info">
                  <i class="fa-regular fa-user"></i>
                  <div class="name">
                    <p class="user-email">{{ question.user_email or 'Anonymous' }}</p>
                    <p class="question-text">{{ question.question_text }}</p>
                  </div>
              </div>
              <div class="post-options-container">
                  <i class="fas fa-ellipsis-v post-options-toggle"></i>
                  <div class="post-options-dropdown d-none">
                    <button class="edit-post-btn btn btn-sm btn-link">Edit post</button>
                    <button class="delete-post-btn btn btn-sm btn-link" data-session-id="{{ session_id }}" data-user-email="{{ user_email }}">Delete post</button>

                  </div>
              </div>
            </div>
            <div class="card-actions">
              <div class="interaction-icons">
                  <div class="icon like-icon" id="like-btn-{{ question.id }}" data-post-id="{{ question.id }}">
                      <i class="fas fa-thumbs-up"></i>{{ question.likes }}
                  </div>
                  <div class="icon dislike-icon" id="dislike-btn-{{ question.id }}" data-post-id="{{ question.id }}">
                      <i class="fas fa-thumbs-down" ></i>{{ question.dislikes }}
                  </div>
                  <div class="icon">
                      <i class="fas fa-comment"></i><span>0</span>
                  </div>
              </div>
              <div class="add-comment">Add comment</div>
          </div>
          
          </div>
        {% endfor %}
      </div>
  
      <a href="#" class="btn new-post-btn" data-bs-toggle="modal" data-bs-target="#newPostModal">+ New Post</a>
      {% else %}
        <div id="professorContainer" class="PContainer">

          {% for question in questions %}
            <div class="post-card" data-post-id="{{ question.id }}" data-likes="{{ question.likes }}" data-dislikes="{{ question.dislikes }}">
            <div class="card-header">
              <div class="user-info">
                  <i class="fa-regular fa-user"></i>
                  <div class="name">
                    <p class="user-email">{{ question.user_email or 'Anonymous' }}</p>
                    <p class="question-text">{{ question.question_text }}</p>
                  </div>
              </div>
              <div class="post-options-container">
                  <i class="fas fa-ellipsis-v post-options-toggle"></i>
                  <div class="post-options-dropdown d-none">
                    <button class="edit-post-btn btn btn-sm btn-link">Edit post</button>
                    <button class="delete-post-btn btn btn-sm btn-link" data-session-id="{{ session_id }}" data-user-email="{{ user_email }}">Delete post</button>
                  </div>
              </div>
            </div>
            <div class="card-actions">
              <div class="interaction-icons">
                  <div class="icon like-icon" id="like-btn-{{ question.id }}" data-post-id="{{ question.id }}">
                      <i class="fas fa-thumbs-up"></i>{{ question.likes }}
                  </div>
                  <div class="icon dislike-icon" id="dislike-btn-{{ question.id }}" data-post-id="{{ question.id }}">
                      <i class="fas fa-thumbs-down"></i>{{ question.dislikes }}
                  </div>
                  <div class="icon">
                      <i class="fas fa-comment"></i><span>0</span>
                  </div>
              </div>
              <div class="add-comment">Add comment</div>
          </div>
          
          </div>
        {% endfor %}
        
        </div>
        <a href="#" class="btn profbutton new-post" data-bs-toggle="modal" data-bs-target="#newFeatureModal">+ New Post</a>
      {% endif %}
    </div>
  </div>

  <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPostModalLabel">Post a New Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form id="newPostForm" action="{{ url_for('post_question') }}" method="POST">
              {{ form.hidden_tag() }}
              <input type="hidden" name="postId" value="">

              <div class="id"><b>Session ID :</b>
                <input type="text" name="sessionId" value="{{ session_id }}" readonly>
              </div>
          
              <div class="mb-3">
                <label for="postTitle" class="form-label">Ask a Question</label>
                {{ form.postTitle(class="form-control", placeholder="Enter your question...", required=True) }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="newFeatureModal" tabindex="-1" aria-labelledby="newFeatureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newFeatureModalLabel">Add New Content</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="mainOptions">
            <ul class="list-unstyled">
              <li><button class="btn btn-primary w-100 mb-2" id="createPollBtn"><i class="fas fa-poll"></i> Create Poll</button></li>
              <li><button class="btn btn-primary w-100 mb-2" id="uploadFileBtn"><i class="fas fa-upload"></i> Upload File</button></li>
              <li><button class="btn btn-primary w-100" id="addLinkBtn"><i class="fas fa-link"></i> Add Link</button></li>
            </ul>
          </div>

                    <div id="pollForm" style="display: none;">
                      <form>
                        <div class="mb-3">
                          <label for="Question" class="form-label">Ask a Question</label>
                          <input type="text" class="form-control" id="pollQuestion" placeholder="Enter your poll question..." required>
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="pollOption1" placeholder="Option 1" required>
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="pollOption2" placeholder="Option 2" required>
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="pollOption3" placeholder="Option 3 (Optional)">
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="pollOption4" placeholder="Option 4 (Optional)">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-secondary clear-inputs" id="clearInputsBtn">Clear Inputs</button>
                          <button type="button" class="btn btn-secondary me-2" id="backToOptions1">Back</button>
                          <button type="submit" class="btn btn-primary">Create Poll</button>
                          
                        </div>
                      </form>
                    </div>

                    <div id="uploadFileForm" style="display: none;">
                      <form enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="fileUpload" class="form-label">Choose File</label>
                          <input type="file" class="form-control" id="fileUpload" required>
                        </div>
                        <div class="d-flex justify-content-end">
                          <button type="button" class="btn btn-secondary me-2" id="backToOptions2">Back</button>
                          <button type="submit" class="btn btn-primary">Upload</button>
                          
                        </div>
                      </form>
                    </div>
                  
          <div id="linkForm" style="display: none;">
            <form>
              <div class="mb-3">
                <label for="linkTitle" class="form-label">Link Title</label>
                <input type="text" class="form-control" id="linkTitle" placeholder="Enter the link title..." required>
              </div>
              <div class="mb-3">
                <label for="linkUrl" class="form-label">Link URL</label>
                <input type="url" class="form-control" id="linkUrl" placeholder="Enter the URL..." required>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary clear-inputs" id="clearInputsBtn">Clear Inputs</button>
                <button type="button" class="btn btn-secondary me-2" id="backToOptions3">Back</button>
                <button type="submit" class="btn btn-primary">Add Link</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='session_details.js') }}"></script>
  
</body>
</html>
