<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verify.css') }}">

    <title>OTP Verification</title>

</head>
<body>
    <div class="container">
        <h1>OTP Verification</h1>
        <p>Enter the OTP you received to <span id="email"></span></p>
        <div class="otp-input">
            <input type="number" min="0" max="9" required>
            <input type="number" min="0" max="9" required>
            <input type="number" min="0" max="9" required>
            <input type="number" min="0" max="9" required>
            <input type="number" min="0" max="9" required>
            <input type="number" min="0" max="9" required>
        </div>
        <button onclick="verifyOTP()">Verify</button>
        <div class="resend-text">
            Didn't receive the code? 
            <span class="resend-link" onclick="resendOTP()">Resend Code</span>
            <span id="timer"></span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
</body>
</html>