body {
  font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 720px;
  margin-top: 3rem;
  margin-left: 3rem;

}

.logout-button {
  background-color: #600064;
  color: #fff;
  border-color: #600064;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s background-color;
  margin: 1rem;
}

.logout-button:hover {
  background-color: #240053;
}

.new-post-btn {
  position: fixed;
  bottom: 20px;
  right: 1rem;
  background-color: #240053;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 9999px;
  border-color: #240053;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  font-weight: bold;
  color: #fff;
}

.new-post-btn:hover {
  background-color: #600064;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #230054;
}

.description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 75px;
  height: 100%;
  background-color: #600064;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-group {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1000;
}

.leave-session-btn {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s background-color;
  margin: 2rem;
}

.leave-session-btn:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
}

.leave-session-btn:hover:not(:disabled) {
  background-color: #c82333;
}

a {
  color: #600064;
  text-decoration: underline;
}

.dropdown-menu.show {
  display: block;
  width: max-content;
}


.HLbuttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.home {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.logout {
  margin-bottom: 1rem;
}

.modal-header {
  background-color: #240053;
  color: #fff;
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
}

.modal-footer {
  border-top: none;

}

.btn-close {
  background-color: #fff;
  border-radius: 50%;
}

.btn-primary {
  background-color: #240053;
  border-color: #240053;
  transition: background-color 0.3s ease;
  --bs-btn-active-bg: #600064;
}

.btn-primary:hover {
  background-color: #600064;
  border-color: #600064;
}

.form-control:focus {
  border-color: #600064;
  box-shadow: 0 0 0 0.2rem rgba(96, 0, 100, 0.25);
}

.modal-content {
  border-radius: 10px;
}

.modal-body {
  padding: 20px 30px;
}

.modal-footer {
  display: flex;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #565e64;
  border-color: #51575d;
}

.post-card {
  background-color: #240053;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;

}

.post-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: ruby;
}

.name {
  display: ruby;
}

.question-text{
  font-size: 1rem;
  font-weight: 500;
}

p.user-email {
  font-weight: bold;
  font-size: 12px;
}


.post-card .card-header .user-info img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.post-card .card-header .user-info .user-name {
  font-weight: bold;
  font-size: 10px;
}

.post-card .card-header .post-time {
  color: #9e9e9e;
  font-size: 0.5rem;
}

.post-card .card-content {
  font-size: 1rem;
  margin-top: 1rem;
}

h5 {
  font-size: 1rem;
}

.post-card .card-actions {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.post-card .card-actions .interaction-icons {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.post-card .card-actions .interaction-icons .icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.post-card .card-actions .interaction-icons .icon i {
  margin-right: 5px;
  cursor: pointer;
}

.post-card .card-actions .add-comment {
  color: #9e9e9e;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.post-card .card-actions .add-comment:hover {
  text-decoration: underline;
}



.fa-regular, .far {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  margin-right: .5rem;
}

#postsContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1.5rem;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  #postsContainer {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  #postsContainer {
    grid-template-columns: 1fr;
  }
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon.liked i,
.icon.disliked i {
  color: #fec006;
}

.icon.like-icon.liked i,
.icon.dislike-icon.disliked i {
  color: #fec006;
}

.icon.like-icon.liked {
  color: #fec006;
}

.icon.dislike-icon.disliked {
  color: #fec006;
}

.post-options-container {
  position: relative;
  display: inline-block;
  margin-bottom: auto;
}

.post-options-toggle {
  cursor: pointer;
}

.post-options-container {
  position: relative;
  display: inline-block;
}

.post-options-toggle {
  cursor: pointer;
}

.post-options-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #600064;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: max-content;

}

.post-options-dropdown button {
  background: none;
  border: none;
  padding: 5px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.post-options-dropdown button:hover {
  background-color: #240053;
}


.btn-link {
  --bs-btn-color: var(--lt-color-gray-100);
  --bs-btn-hover-color: var(--lt-color-gray-100);
  --bs-btn-active-color: #230054;
}

.comment-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-input {
  flex-grow: 1;
  resize: none;
  border-radius: 12px;
}

.publish-comment {
  background-color: #fec006;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.publish-comment i {
  font-size: 1.2em;
}

.comment-list {
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
  display: grid;
}

.cancel-comment{
  color: #fff;
}


textarea.form-control {
  height: 2.5rem;
}

.comment-text {
  font-size: 10px;
  margin-left: 2.1rem;
}

.comment-user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.comment-user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-options-container {
  display: flex;
  gap: 8px;
}

.comment-options-container .btn {
  background: #f8f9fc;
  border: none;
  padding: .2px 2px;
}

.comment-options-container .btn i {
  color: #600064;
  cursor: pointer;
}


.new-post {
  position: fixed;
  bottom: 20px;
  right: 1rem;
  background-color: #240053;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 9999px;
  border-color: #240053;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.new-post:hover {
  background-color: #600064;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
}


.poll-content ul {
  list-style-type: none;
  padding: 0;
}

.link-content a {
  text-decoration: none;
  color: #007bff;
}

#professorContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1.5rem;
  scroll-behavior: smooth;
  margin-top: 2rem;
}

.poll-content,
.file-upload-content,
.link-content {
  display: block;
}

.main-content-wrapper {
  position: relative;
  width: calc(100% - 75px);
  height: 100vh; 
  overflow-y: auto; 
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1.5rem;
}


.main-content-wrapper::-webkit-scrollbar {
  width: 10px;
}

.main-content-wrapper::-webkit-scrollbar-thumb {
  background-color: #230054;
  border-radius: 5px;
  padding-right: 10px;
}

.main-content-wrapper::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}


.poll-box {
  background-color: #240053;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}

.poll-box h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

span.poll-option-text {
  margin-right: auto;
}

.poll-box p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.poll-container {
  display: contents;
}


span.user-name {
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .poll-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .poll-container {
    grid-template-columns: 1fr;
  }
}


.poll-options {
  margin-top: 10px;
}

.poll-options input[type="radio"] {
  margin-right: 10px;
}

.poll-options label {
  font-size: 1rem;
  cursor: pointer;
  color: #000;
}

.poll-option.selected {
  background-color: #e6f3ff; 
  color: #000;
  /* width: max-content; */
  padding: 3px;
}

.poll-option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.poll-option {
  position: relative;
  display: flex;
    align-items: center;
}

button#clearInputsBtn {
  margin-right: .5rem;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fec006;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.poll-option.selected .circle {
  background-color: #600064;
}

.poll-option:hover .circle {
  opacity: 0.7;
}


div#newFeatureModal {
  background-color: currentcolor;
  opacity: .97;
}


.id {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.id input {
  width: 6rem;
  padding: 0 .5rem;
  cursor: not-allowed;
}

.id b {
  margin-right: .5rem;
}



.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  opacity: 0.8;
}
