


.signup-page .container {
  background: #600064;
  padding: 30px;
  border-radius: .75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.signup-page h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.signup-page .form-group label {
  font-weight: bold;
  color: #fff;
  padding: 4px;
}

.signup-page .btn-primary {
  background-color: #240053;
  border-color: #240053;
  font-size: 16px;
  font-weight: bold;
  border-radius: .75rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 6rem;
}

.signup-page .btn-primary:hover {
  background-color: #600064;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.signup-page .btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff;
}

.signup-page .button-container {
  display: flex;
  justify-content: center;
}
